#root {
  isolation: isolate;
  background: black;
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
